body{
    margin: 0px;
    font-family: 'Inter';
}

.topnav {
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.topnavContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    width: 190px; /* Set to your preferred width */
    max-width: 100%; /* Allows scaling down if the viewport is narrower than the image */
    height: auto; /* Maintain aspect ratio */
}

.topnav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    height: 80px;
    line-height: 80px;
    font-size: 14px;
}

.topnav a:hover {
    background-color: #264653;
}

.navLinks {
    display: flex;
    align-items: center;
}

.hero{
    background-image: url('media/backgroundHero.jpeg');
    background-size: cover;
    padding: 200px 0px;
    color: white;
}

.heroContainer{
    max-width: 1200px;
    margin: 0 auto;
}

.heroHeading {
    color: #fff;
    margin-bottom: 15px;
    font-family: 'Archivo Black','sans-serif';
    font-size: 48px;
    font-weight: 400;
}

.heroContainer p {
    max-width: 45ch;
    color: #fff;
    font-size: 16px;
}

.blogSection{
    background-color: black;
    color: white;
    padding: 50px 0;
    min-height: 500px;
}

.topicHeading {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
}

.container {
    max-width: 1200px;
    width: 95%;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #000;
    border: none;
    outline: none;
    background: #fff;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: rgb(179, 179, 179);
}

.slider-wrapper .slide-button#prev-slide {
    left: -20px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -20px;
}

.image-item-wrapper {
    display: flex;
    flex-direction: column;
}

.image-topic {
    font-size: 16px;
    margin-top: 8px;
    color: white;
}

.image-title {
    font-size: 22px; /* You can adjust as needed */
    margin-top: 8px; /* You can adjust as needed */
    color: white; /* Or any color that is visible on your background */
}

.slider-wrapper .image-list {
    display: grid;
    gap: 18px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}
.slider-wrapper .image-list .image-item-wrapper .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
    border-radius: 7px;
}

.container .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: rgb(152, 152, 152);
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: rgb(255, 255, 255);
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* Styles for moblie and tablets */
@media (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none!important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}

/* Newsletter Footer*/

.footerNewsletter {
    color: #fff;
    padding: 50px 30px 40px;
    position: relative;
}

.containerFooter {
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.footerForm {
    background-image: url('media/footerImg.jpeg');
    background-size: cover;
    background-position: center;
    /*background-color: rgb(61, 79, 91);*/
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 64px;
    text-align: center;
}

.footerForm > * { /*targets every direct child of .footerFrom */
    position: relative; /*ensures that the z-index value applies to all of the childrem */
    z-index: 2; /*position every direct child of .footerForm above the ::before, text and form elements are visible on top of the gradient */
}


.footerForm::before { /* the ::before pseudo-element is used to create a visual overlay effect on the .footerForm element */
    content: ""; /* necessary for the pseudo-element to work */
    position: absolute; /* so that it doesn't affect the layout of other elements */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,.28), rgba(0,0,0,.28));
    z-index: 1; /* So that it stays below the content of the footerForm */
}

.footer-title {
    font-size: 24px;
    line-height: 32px;
}

.footer-form-block {
    margin-top: 30px;
    margin-bottom: 15px;
}

.emailInput {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #000;
}

